@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-0 .mbr-navbar__section {
  background: #2969b0;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-2 P {
  font-family: 'Ubuntu', sans-serif;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#content5-5 .mbr-article P {
  color: #28324e;
}
#content5-b .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-b .mbr-article {
  color: #fff;
}
#content5-b .mbr-article P {
  color: #000000;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-6 .mbr-navbar__section {
  background: #2969b0;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
